@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}

body,
html {
    background-color: #0000;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: flex;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    height: 60px;
    overflow: hidden;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.heading p {
    font-size: 48pt;
    color: #964B00;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row; /* Ensures horizontal alignment */
    justify-content: space-between; /* Makes sure boxes are spaced evenly */
    gap: 10px; /* Adds space between the boxes */
    width: 100%; /* Make sure the container takes full width */
    flex-wrap: wrap; /* Allows boxes to wrap if there's not enough space */
}

.box {
    background-color: #DFCAA0;
    border: 2px solid black;
    margin: auto;
    width: 30vw; /* Adjusted for better side-by-side layout */
    height: auto;
    padding: 20px;
    font-size: 24pt;
    text-align: center;
    border-radius: 20px;
}

.fox {
    background-color: #DFCAA0;
    border: 2px solid black;
    margin: auto;
    width: 63vw; /* Adjusted width */
    height: 32vw;
    padding: 10px; /* Increased padding for better appearance */
    font-size: 24pt;
    text-align: center;
    border-radius: 20px;
}

.footer {
    position: relative;
    text-align: center;
    top: 000px;
    width: 100%;
}

#submitImage {
    background-color: #964B00;
    color: white;
    border: 2px solid black;
    margin: auto;
    width: 10vw; /* Adjusted for better side-by-side layout */
    height: auto;
    padding: 20px;
    font-size: 24pt;
    text-align: center;
    border-radius: 20px;
}

.button-container {
    background-color: #DFCAA0;
    border: 2px solid black;
    margin: auto;
    width: 10vw; /* Adjusted for better side-by-side layout */
    height: auto;
    padding: 20px;
    font-size: 24pt;
    text-align: center;
    border-radius: 20px;
}

.invisibleBox{
    background-color: transparent;
            border: 2px solid black;
            margin: auto;
            width: 30vw; /* Adjusted for better side-by-side layout */
            height: auto;
            padding: 20px;
            font-size: 24pt;
            text-align: center;
}