@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}

html,
body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items:center;
    scroll-behavior: smooth;
}

.container {
    display:flex;
    justify-content: center;
}

header {
    background-color: black;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow:hidden; 
}

header img {
    width:100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

body {
    padding-top: 200px;
}

img.center{
    text-align:center;
    margin: 0 auto;
    padding: 0px;
}

.heading p {
    font-size: 48pt;
    color: #964B00;
    text-align: center;
}

/*.box {
    border: 2px solid #555;
    float: left;
    width:50%;
    flex-direction: row;
    display: flex;
}*/
/*.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 10px; 
    width: 100%; 
    flex-wrap: wrap; 
    padding-top: 80px;
}*/

* {
    box-sizing: border-box
}


.box {
    background-color: #333;
    border: 2px solid #555;
    color: #fff;
    margin: auto;
    width: 50%; 
    max-width: 500px;
    height: auto;
    padding: 20px;
    font-size: 18pt;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    float: left;
    display:flex;
}

.box h1 {
    font-size: 20pt;
    color: white;
    text-align:center;
}
.box p {
    font-size: 12pt;
    color: white;
    text-align:center;
}

.fox, .geolocation-box {
    display: none;
    background-color: #333;
    border: 2px solid #555;
    color: #fff;
    width:90%;
    margin-top: 20px;
    width: 63vw; /* Adjusted width */
    padding: 20px; /* Increased padding for better appearance */
    font-size: 18pt;
    text-align: center;
    border-radius: 20px;
}

.footer {
    position: relative;
    text-align: center;
    top: 000px;
    width: 100%;
}

#submitImage {
    color: black;
    border: 2px solid black;
    margin: auto;
    width: 10vw; /* Adjusted for better side-by-side layout */
    height: auto;
    padding: 20px;
    font-size: 24pt;
    text-align: center;
    border-radius: 20px;
}

.button-container {

    border: 2px solid black;
    margin: 20px auto;
    min-width: 150px;
    max-width: 300px; 
    width: auto;
    height: auto;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    transition: background 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    border:none;
    font-size:16 pt;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.invisibleBox{
    background-color: transparent;
    border: 2px solid black;
    margin: auto;
    width: 30vw; /* Adjusted for better side-by-side layout */
    height: auto;
    padding: 20px;
    font-size: 24pt;
    text-align: center;
}

/*.button-container {
    display: inline-block;
    padding: 10px 30px;
    background: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
*/

.button-container:hover{
    background: #00457c;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}


